@import "./utils/variables";
@import "./utils/mixin";
@import "./base/normalize_doc";
@import "./base/typographie";
@import "./layout/header";
@import "./layout/search";
@import "./layout/functioning";
@import "./layout/restaurant";
@import "./layout/menu-resto";
@import "./layout/footer";
@import "./components/loader";
@import "./components/button";
@import "./components/recipe";