.functioning {
    margin: 50px auto;
    width: 90%;

    &__step {
        background-color: $second-color;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 15px;
        min-height: 60px;
        position: relative;
        @include box-shadow;
        margin: 0 0 25px calc(25px / 2);
        font-weight: 600;

        &:last-child {
            .functioning__icon {
                color: $icon-color;
            }
        }
    }

    &__number {
        color: #fff;
        background-color: $icon-color;
        border-radius: 50px;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: absolute;
        top: 50%;
        left: calc(-25px / 2);
        transform: translateY(-50%);
    }

    &__icon {
        color: #7e7e7e;
        font-size: 20px;
        transform: translateX(-20px);
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    .functioning {
        margin: 50px auto;
        width: 50%;
        text-align: center;
    }
}

@media screen and (min-width: $computer-breakpoint) {
    .functioning {
        width: 40%;
        max-width: $max-width-screen;
    }
}