.entete{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 63px;
    box-shadow: 0px 2px 4px rgba(109, 109, 109, 0.25);
    position: sticky;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 3;

    &__logo{
        max-width: 165px;
    }
}