.menu-resto {
    &__img_presentation {
        height: 260px;
        object-fit: cover;
        object-position: center;
    }

    &__entete {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 20px;
    }

    &__info {
        width: 90%;
    }

    &--title-resto {
        font-family: "Shrikhand", cursive;
    }

    &__like {
        @include like-enable;
    }

    &__body {
        background-color: $grey-color-2;
        border-radius: 40px 40px 0 0;
        margin-top: -40px;
        position: relative;
        z-index: 2;
        padding: 40px 15px;
    }

    &__step {
        margin-top: 35px;

        &:last-of-type {
            margin-bottom: 50px;
        }

        &-title {
            font-size: 1.6rem;
            font-weight: 400;
            width: fit-content;
            position: relative;
            margin-left: 20px;

            &:after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                bottom: -10px;
                height: 2px;
                width: 40px;
                background-color: $third-color;
            }
        }
    }
}
