.restos {
    background-color: $grey-color-2;
    padding: 50px 5%;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
    }

    &__card {
        position: relative;
        background-color: $card-background;
        @include box-shadow;
        border-radius: 15px;
        overflow: hidden;
        width: 100%;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__new {
        background-color: $third-color;
        color: #139273;
        border-radius: 3px;
        position: absolute;
        right: 10px;
        top: 15px;
        padding: 5px 10px;
    }

    &__photo {
        height: 175px;
        object-fit: cover;
        object-position: center;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px;
    }

    &__info {
        width: 90%;
    }

    &__like {
        @include like-enable;
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    .restos {
        &__card {
            width: 45%;
            margin-bottom: 50px;

            &:last-child {
                margin-bottom: auto;
            }
        }
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    .restos {    
        &__list {
            max-width: $max-width-screen;
        }

        h2 {
            text-align: center;
            max-width: $max-width-screen;
            margin: 0 auto 50px;
        }
    }
}


