@import "../utils/variables";

.localisation{
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50px;
    font-size: 1.6rem;
    font-weight: 600;
    color: $dark-color;

    &__icon{
        padding-right: 15px;
    }
}

.resto-search{
    background-color: $second-color;
    text-align: center;
    padding: 40px;

    p{
        padding-bottom: 25px;
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    .resto-search{
        padding: 80px;
    }
}