.btn {
    display: inline-block;
    background: $btn-gradient;
    color: white;
    width: fit-content;
    border-radius: 50px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 2;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        background: rgba(white, 10%);
        z-index: -1;
        width: 200%;
        height: 500%;
        border-radius: 100%;
        transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
        transform: translate(-120%, -50%);
        z-index: -1;
    }

    &:hover {
        color: white;
    }

    &:hover:after {
        transform: translate(-45%, -34%);
    }
}
