.loader {
    position: fixed;
    background-color: $grey-color-1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: loading_section 0.1s ease-in-out 3s both;

    &__div {
        position: relative;
    }

    &_bar_test {
        width: 90px;
        height: 10px;
        background-color: $third-color;
        position: absolute;
        left: 12px;
        bottom: 5px;
        border-radius: 20px;
        transform-origin: center;
        animation: loader-bar-animation 1.2s ease-in-out 0.2s infinite both;
    }
}

.pan-container {
    display: flex;
    transform-origin: 90% center;
    animation: pan-animation 1.2s ease-in-out 0.2s infinite both;
}

.pan {
    width: 125px;
    height: 20px;
    background: $primary-color;
    border-radius: 0 0 50px 50px;
}

.handle{
    width: 75px;
    height: 10px;
    background: $primary-color;
    border-radius: 50px;
}

.vegetable {
    width: 15px;
    height: 15px;
    background-color: $second-color;
    display: inline-block;
    border-radius: 46% 54% 51% 49% / 28% 60% 40% 72%;
    position: absolute;
    bottom: 0;

    &:nth-child(1) {
        left: 55px;
        animation: vegetables 1.2s cubic-bezier(.51,.08,.46,.97) infinite both;
    }

    &:nth-child(2) {
        left: 28px;
        animation: vegetables 1.2s cubic-bezier(.51,.08,.46,.97) 0.1s infinite both;
    }

    &:nth-child(3) {
        left: 80px;
        animation: vegetables 1.2s cubic-bezier(.51,.08,.46,.97) 0.18s infinite both;
    }
}

@keyframes loading_section {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}



@keyframes pan-animation {
    0% {
        transform: rotate(0) translateX(0);
    }

    30% {
        transform: rotate(25deg) translateX(-30px);
    }

    70% {
        transform: rotate(5deg) translateX(20px);
    }

    78% {
        transform: rotate(0deg) translateX(-20px);
    }

    95% {
        transform: rotate(0deg) translateX(20px);
    }

    100% {
        transform: rotate(0) translateX(0);
    }
}

@keyframes loader-bar-animation {
    0% {
        transform: rotate(0) translateY(0);
    }

    30% {
        transform: translate(10px, -60px)rotate(10deg);
    }

    50% {
        transform: translate(0, -100px) rotate(180deg);
    }

    70% {
        transform: translate(-10px, -60px) rotate(270deg);
    }

    95% {
        transform:translate(0) rotate(360deg);
    }

    100% {
        transform: rotate(360deg) translate(0);
    }
}

@keyframes vegetables {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-84px);
    }

    100% {
        transform: translateY(0);
    }
}