html{
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

li,
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

a,
a:hover {
    text-decoration: none;
    color: #000;
}