@mixin box-shadow {
    box-shadow: 0px 10px 10px rgba(182, 182, 182, 0.25);
}

@mixin like-enable {
    width: 10%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;

    .like--enabled {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $primary-color;
        opacity: 0;
    }

    .like--enabled:last-child {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }

    &:hover {
        .like--enabled {
            animation: liked 0.15s ease-out both;
        }
        
        .like--enabled:last-child {
            animation: liked_scale 0.3s ease-out 0.1s both;
        }
    }
}

@keyframes liked {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes liked_scale {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(2);
    }
}