@mixin box-shadow {
    box-shadow: 0px 10px 10px rgba(182, 182, 182, 0.25);
}

@mixin like-enable {
    width: 10%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;

    &--enabled {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: $icon-color;
        transition: transform 0.5s ease-in-out;
    }

    &:hover {
        .restos__like--enabled {
            transform: translate(-50%, -50%) scale(1);
        }
    }
}