$primary-color: #EAEAEA;
$second-color: #F6F6F6;
$dark-color: #353535;
$card-background: #fff;
$icon-color: #9356DC;
$btn-gradient: linear-gradient(180deg, #E370DA 0%, #A05ADC 100%);

$tablet-breakpoint: 768px;
$computer-breakpoint: 1024px;

$max-width-screen: 1180px;